@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #2E62ED;
  --color-secondary: #00CCF2;
  --color-tertiary: #FF2366;
}

body {
  background: var(--background);
  color: var(--foreground);
 
}
